<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ListenersPack.CustomListeners">
        </listener>
    </listeners>
    <test name="ListenersTest">
        <classes>
            <class name="ListenersTest"/>
        </classes>
    </test>
</suite>